<h2>add a new celebrity</h2>

<form action="/celebrities/create" method="POST">
  <input type="text" name="name" placeholder="name" />
  <br />
  <input type="text" name="occupation" placeholder="occupation" />
  <br />
  <input type="text" name="catchPhrase" placeholder="catchPhrase" />
  <br />

  <button>submit</button>
</form>
<hr />
<a href="/"><button>Back to home</button></a>